table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.controller{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  border: blue solid 2px;
  border-radius: 5px;
  margin: 0.5rem 20%;
  background-color: lightblue;
}
.input-container{
  padding: 0.5rem;
}

.input-container label{
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.input-container input{
  font-size: 0.8rem;
  padding-right: 0.5rem;
  width: 10rem;
}
.button-container{
  text-align:center;
}
.button-container button{
  width:100%;
  margin: 1rem 0;
  font-size: 1.2rem;
  border: blue solid 2px;
  background-color: #00B6FF;
  color: white;
}
.button-container button:hover{
  background-color: #86D5F4;
  cursor:pointer;
}
.button-container a:hover{
  color: #3CC2F7;
}
.button-container a{
  text-decoration: none;
}
